*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}

body{
    background-color: white;
}

/**The to do list parent container**/

.todo-container{
    width : 70%;
    position : relative;
    margin : auto;
    top : 50px;
    background-color : rgb(247, 245, 245);
}

/**The header part of the the todo container starts here**/

.todo-header{
    padding : 15px;
    border-bottom : 1px solid gray;
}

.todo-header h1{
    font-family: 'Poppins', sans-serif;
    color : #c94e4e;
    padding : 0px 0px 15px;
}

.input-container{
    display : flex;
}

.todo-container input{
    flex-basis: 90%;
}

.todo-container button{
    flex-basis: 10%;
}

.todo-header input,.todo-header button{
    padding : 5px;
    border : none;
    outline : none;
    font-size : 1.2rem;
    text-align : center;
    caret-color: rgb(56, 56, 56);
}

.todo-header button{
    background-color : #114b5f;
    color : white;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.todo-header button .fa{
    pointer-events: none;
}

.todo-header button:hover{
    background-color : #0c3947;
}

/**The body of the to do container starts here**/

.todo-body{
    padding : 15px;
}

.todo-body .todo-list{
    list-style-type:none;
}

.todo-body .todo-item{
    background-color : white;
    margin-top : 8px;
    position : relative;
}

.todo-body .todo-text{
    padding : 5px;
    font-family: 'poppins',sans-serif;
    cursor: pointer;
}

.todo-body .todo-text::before{
    content : "";
    border-width : 5px;
    border : 1px solid black;
    height : 15px;
    width : 15px;
    display : inline-block;
    position : relative;
    top : 3px;
    margin-right : 1%;
    border-radius: 50%;
}

.todo-body .trash-button {
    position : absolute;
    top : 0%;
    right : 0%;
    font-size : 20px;
    border : none;
    outline : none;
    padding : 8px;
    background-color: transparent;
    color : rgb(77, 77, 77);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.todo-body .trash-button:hover{
    color : #c94e4e;
}

.todo-body .trash-button .fa{
    pointer-events: none;
}

.checked{
    opacity : 0.5;
    text-decoration: line-through;
    transition : all ease .4s;
}

/*Pseudo element for the clicked or completed item*/

.checked::before{
    content : "";
    width : 5px;
    height : 10px;
    display: inline-block;
    border : 1.5px solid black;
    position : absolute;
    top : 28%;
    left : 9px;
    border-width: 0px 2px 2px 0px;
    transform : rotate(45deg);
}

/*The transition for the deleted item*/

.fall{
    opacity : 0;
    transform: translate(20%) rotateZ(5deg);
    transition : all ease .5s;
}


/**The footer of the todo container starts here**/

.todo-footer{
    border-top : 1px solid gray;
    padding : 15px;
    color : #114b5f;
    text-align : center;
    display : none;
}

.todo-footer .fa{
    color : #c94e4e;
}

/**Media queries for responsiveness*/

@media (max-width : 1100px){
    .todo-container{
        width : 80%;
    }
}

@media (max-width : 870px){
    .todo-container{
        width : 98%;
    }
}